<div>
    <p-tabView>
        <p-tabPanel header="Home" leftIcon="fa-bar-chart-o">
            <home-app></home-app>
        </p-tabPanel>
        <p-tabPanel header="Hierarquia" leftIcon="fa-sitemap">
            <tree-app></tree-app>
        </p-tabPanel>
        <p-tabPanel header="Configurações" leftIcon="fa-cog">
            <config-app></config-app>
        </p-tabPanel>
        <p-tabPanel header="Example" leftIcon="fa-cog">
            <my-car></my-car>
        </p-tabPanel>
    </p-tabView>
</div>